
<div class="post">
	<a name="{{ post.slug }}"></a>
	<div class="post-date">
		{{ post.date }}
	</div>
	<h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
	
	{{ post.body }}
	
	<div class="more-posts hide">
		<h2><a href="archive.html">Older Posts</a></h2>
	</div>

	<div class="post-separator"></div>

	<div class="comments hide" data-enable="{{ post.comments }}">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'techhike';
			var disqus_identifier =  '{{ post.slug }}';
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>
